.menu-container {
  display: inline-block;
  width: 600px;
}

.menu {
  border-bottom: none;
  border-right: none;
}

.menu-item > a {
  color: #232323 !important;
  font-weight: bold;
}

.dropdown-item {
  color: black;
  background-color: white;
}

.down-icon {
  bottom: 2px;
  position: absolute;
  margin-left: 5px;
}

.drawer-handle {
  float: right;
}

.drawer-handle i {
  font-size: 25px;
}
